.image {
    width: 100%;
    height: 30rem;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.textwrapper {
    transform: translate(0, -8rem);
}

.maintext {
    font-size: 4rem;
}

.additionaltext {
    font-size: 1.5rem;
}